.x-grid-group-hd .x-grid-group-title {
    background:transparent no-repeat 0 -1px;
    background-image: url(../cmp/images/group-collapse.gif);
    padding: 0 0 0 14px;
}
.x-grid-group-title {
    background-image: none;
    padding: 0px;
}

/* line 510, ../themes/stylesheets/ext4/default/widgets/_grid.scss */
.x-grid-group-hd-collapsed .x-grid-group-title {
    
    background-image: url(../cmp/images/group-expand.gif);
}
.x-grid-group-no-expand .x-grid-group-title {
    background-image: none !important;
}


/* Decoration only not need for multigrouping */
.x-grid-group-title {
   color: black;
   font-size: 12px;
}
.x-grid-group-hd-collapsible .x-grid-group-no-title-td .x-grid-group-title{
	background:none;
	padding : 0;
}
.x-grid-group-hd-collapsed .x-grid-group-no-title-td .x-grid-group-title{
	background:none;
	padding : 0;
}
.x-grid-group-no-title-td .x-grid-group-title{
	background: none;
	padding : 0;
}
.x-grid-group-no-title-td .x-grid-row-checker{
	margin:5px 0 4px 0;
}
.x-grid-group-title-td .x-grid-group-title{
}

.x-grid-group-cell-special .x-grid-cell-inner {
	border-right: 1px solid #D0D0D0;
	background-image: none;
	background-color: #F6F6F6;
}

.x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div,.x-grid-row-selected .x-grid-cell-special {
border-style: none;
background-color: none;
}

.x-grid-row-selected .x-grid-cell-inner {
	border-width : 1px 0 1px 0;
	border-style: solid;
	border-color: #A3BAE9;
	background-color: #DFE8F6!important;
}
.x-grid-row-selected .x-grid-group-title-td .x-grid-cell, .x-grid-row-selected .x-grid-group-title-td .x-grid-rowwrap-div,.x-grid-row-selected .x-grid-group-no-title-td .x-grid-cell, .x-grid-row-selected .x-grid-group-no-title-td .x-grid-rowwrap-div {
	border:none;
	background-color: none;
}
.x-grid-row-selected .x-grid-group-title-td .x-grid-cell-inner,.x-grid-row-selected .x-grid-group-no-title-td .x-grid-cell-inner{
	border-width : 0 0 2px 0;
	border-color : #A3BAE9;
	background-color: #DFE8F6!important;
}
.x-grid-row-selected .x-grid-group-cell-special .x-grid-cell-inner, .x-grid-row-selected .x-grid-cell-special .x-grid-cell-inner{
	border-right: 1px solid #AACCF6;
	background-image: none;
	background-color: #DFE8F6;
	background-image: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,#DFE8F6),color-stop(100%,#CBDAF0));
	background-image: -webkit-linear-gradient(left,#DFE8F6,#CBDAF0);
	background-image: -moz-linear-gradient(left,#DFE8F6,#CBDAF0);
	background-image: -o-linear-gradient(left,#DFE8F6,#CBDAF0);
	background-image: -ms-linear-gradient(left,#DFE8F6,#CBDAF0);
	background-image: linear-gradient(left,#DFE8F6,#CBDAF0);
}
.x-grid-group-no-title {
    color: black;
	font-size: 12px;
	background: transparent no-repeat 0 -1px;
	padding: 0px 0px 1px 5px;
}
