
/** svg */
/* svg { */
/*   background-color: #FFF; */
/*   cursor: default; */
/*   -webkit-user-select: none; */
/*   -moz-user-select: none; */
/*   -ms-user-select: none; */
/*   -o-user-select: none; */
/*   user-select: none; */
/* } */

svg:not(.active):not(.ctrl) {
/*   cursor: crosshair; */
}

svg:not(.active):not(.ctrl) path.link {
/*   cursor: pointer; */
}

/** link */
.links .link_container .link , .control .link {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  cursor: pointer;
}

.links .link_container .link_selected {
  stroke-dasharray: 10,2;
}

.control .dragline {
  pointer-events: none;
}

.control .hidden {
  stroke-width: 0;
}

.links .link_container .relation .relation_text {
  font: 12px sans-serif;
  pointer-events: none;
}

.links .link_container .relation .link_selected {
  fill: #ff0000;
}

/** node*/
.nodes .node_container {
/*   stroke-width: 1.5px; */
  fill: #000;
  cursor: pointer;
}

.nodes .node_selected {
  fill: #ff0000;
}


.nodes .node_container .node_text {
  font: 12px sans-serif;
  pointer-events: none;
}

